trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
# Step 2: Run Maven build
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    javaHomeOption: 'Path'
    jdkDirectory: $(JAVA_HOME)
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    mavenOptions: '-Xmx3072m'
  displayName: 'Build with Maven'
